<section style="padding-bottom: 0 !important;">
    <!-- Footer #1
============================================= -->
    <footer id="footer" class="footer footer-1">
        <!-- Widget Section
	============================================= -->
        <div class="footer-widget">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-6 col-md-8 col-lg-8 footer--widget widget-about">
                        <div class="widget-content">
                            <a href="index.html">
                                <img class="footer-logo" src="assets/images/logo/logo-w-text.png" alt="logo">
                            </a>
                            <div style="padding-top: 50px; padding-bottom: 20px"><a
                                    href="mailto:hello@hyperspace.africa">hello@hyperspace.africa</a></div>
                            <div class="social-icons">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/HyperspaceAfric" class="twitter"><i
                                        class="fa fa-twitter"></i></a>

                                <!-- <a href="#" class="github"><i class="fa fa-github"></i></a> -->
                                </li>
                            </div>
                        </div>
                    </div><!-- .col-md-3 end -->
                    <div class="col-6 col-sm-12 col-md-4 col-lg-4 footer--widget widget-links">
                        <div class="widget-title">
                            <h5>Hyperspace</h5>
                        </div>
                        <div class="row">
                            <div class="widget-content ">
                                <ul>
                                    <li><a href="/">Home </a></li>
                                    <li><a href="#tracklist">Tracklist</a></li>
                                    <li><a href="#schedule">Schedule</a></li>
                                    <li><a href="http://hypercurriculum.netlify.com">Resources</a></li>
                                    <li><a href="./faqs">FAQs</a></li>
                                </ul>
                            </div>

                            <div class="widget-content pl-4">
                                <ul>
                                    <li><a href="./about">About </a></li>
                                    <li><a href="#">Join Us</a></li>
                                    <li><a href="./code_of_conduct">Code of Conduct</a></li>
                                    <li><a href="./team">Meet the Team</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- .col-md-2 end -->
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div><!-- .container end -->
        </div><!-- .footer-widget end -->

        <!-- Copyrights
	============================================= -->
        <div class="footer--bar">
            <div class="row">
                <div class="col-12 col-md-12 col-md-12 text--center footer--copyright">
                    <div class="copyright">
                        <a href="https://www.hyperspace.africa">hyperspace</a> <br>
                        <span>© <b id="year"></span>
                    </div>
                </div>
            </div>
            <!-- .row end -->
        </div><!-- .footer-copyright end -->
    </footer>

{{> script_tag }}