<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    {{> navbar_main}}
    <!-- Page Title #1
============================================= -->
    <section class="about_h">
        <div>
            <h2>About</h2>
        </div>
        <div class="about_h_container">
            <div>
                <p>
                    Hyperspace is a non-profit organization launched in the year 2019 with the sole purpose of supporting and empowering student developers 
                    within tertiary institutions in Africa with Hackathons, Learnable Programs that encourage hands-on learning and open-source software development in a safe and welcoming environment.
                    <br/> 
                </p>
            </div>
            <div><img src="assets/images/gears.png"></div>
        </div>
    </section>
    <!-- #page-title end -->
{{> footer_main}}