<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    {{> navbar_main}}
    <!-- Page Title #1
============================================= -->
    <section class="about_h">
        <div>
            <h2>About</h2>
        </div>
        <div class="about_h_container">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nunc mattis enim ut tellus. Facilisis gravida neque convallis a cras semper
                    auctor. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Turpis massa tincidunt dui
                    ut ornare.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut etiam sit amet nisl. Est ultricies integer quis auctor elit sed.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Fusce ut placerat orci nulla.
                </p>
            </div>
            <div><img src="assets/images/gears.png"></div>
        </div>
    </section>
    <!-- #page-title end -->
{{> footer_main}}