<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
	============================================= -->
    {{> navbar_main}}


<div class="connections">
    <a href="mailto:info@hyperspace.africa" class="mail">info@hyperspace.africa</a>
    <a href="https://hyperspace.africa" target="_blank"><i class="fa fa-globe"></i></i></a>
    <a href="https://twitter.com/HyperspaceAfric" target="_blank"><i class="fa fa-twitter-square"></i></i></a>
</div>


<div class="content">
    <!-- display photo -->
    <img src="assets/images/logo/logo.png" alt="hyperspace logo">

    <!--What is your name-->
    <h1>Hyperspace</h1>
    <h5>Last Updated: 07/03/2021</h5>

    <!--tell us about yourself-->
    <div>
        <h3>Purpose</h3>
        <p>A code of conduct is a document that establishes expectations for behavior for participants of a community or
            project. <br>
            Like most technical communities as a whole, Our community is made up of a mixture of professionals and
            volunteers from different backgrounds and specializations, working on every aspect of the mission -
            including mentorship, teaching, and connecting people.
            <br>
            Diversity is one of our huge strengths, but it can also lead to communication issues and unhappiness. To
            that end, we have a few ground rules that we ask people to adhere to. This code of conduct applies equally
            to leaders, mentors, representatives, and learners the same.
            <br>
            This isn’t an exhaustive list of things that you can’t do. Rather, take it in the spirit in which it’s
            intended - a guide to make it easier to enrich all of us and the technical communities in which we
            participate. <br>
            This code of conduct applies to all Hyperspace activities and events. This includes the mailing lists, the
            questions asked, supports given from and to fellow learners, and any other forums created by the project
            team which the community uses for communication. In addition, violations of this code outside these spaces
            may affect a person's ability to participate within them.
        </p>


    </div>
    <!-- Code of Conduct -->
    <div>

        <div class="byelaws">
            <h3>Code of Conduct</h3>
            <ul>
                <li><strong>Introductions.</strong> When starting a new direct message with someone especially mentors,
                    it is of good etiquette to always introduce yourself, say what you do. It helps smoothen the
                    conversation and serves as an Icebreaker.</li>
                <li><strong>Be welcoming.</strong> We are striving to be a community that welcomes and supports each
                    other. This includes and is not limited to ethnicity, gender, economic class, educational level,
                    etc.</li>
                <li><strong>Be patient and friendly -<i> Don’t be a “know it all” </i>.</strong> A great number of us
                    are here to learn from one another. If you feel you are above this, please do well to keep this
                    information to yourself and not intimidate others who just started or are trying to carve a path to
                    a new career.
                </li>
                <li><strong> Careful in the words that you choose.</strong> We are a community of professionals, and we
                    conduct ourselves professionally. Be kind to others. Do not insult or put down other participants.
                    Harassment and other exclusionary behavior aren't acceptable. 
                    This includes, but is not limited to:
                    <br>
                    <ul>
                        <li>Violent threats or language directed against another person.</li>
                        <li> Discriminatory jokes and language.</li>
                        <li>Posting sexually explicit or violent material.</li>
                        <li>  Posting (or threatening to post) other people's personal information ("doxing").</li>
                        <li>Personal insults, especially those using racist, tribalistic/(xenophobic) or sexist terms.</li>
                        <li>Unwanted sexual attention and repeated harassment of others.</li>
                        <li> Advocating for, or encouraging, any of the above behaviors</li>
                    </ul>
                   
                </li>
                <li><strong>Virtual Spaces.</strong>
                    Please adhere to the purpose of the virtual spaces. No posting of irrelevant content or ads or
                    broadcast messages with no correlation to the community’s activities.
                </li>
                {{!-- <li><strong>Physical Meetups and Events</strong>
                    Although the organizing teams often have everything locked down it's still a kind gesture to help
                    out during the course of community activity. As it helps to reduce the workload for everyone on the
                    team. 
                    <br>
                    With the ongoing pandemic, it is adviced the all COVID prevention protocols be observed
                    </li> --}}
                <li><strong>Event Spaces and Equipment</strong>
                    Dear friend, please use and handle equipment and event spaces for our community activities
                    carefully, sometimes they are given to us in good faith. It would be unfair to leave them damaged or
                    littered/messed up. So always keep these spaces better than you met them, it speaks well of everyone
                    at the end of the day.
                </li>

            </ul>
        </div>
    </div>
    <div>
        <h3>Reporting bad behaviour </h3>
        <p>If you feel uncomfortable or think there may be a potential violation of the code of conduct, please report
            it immediately using one of the following methods. All reporters have the right to remain anonymous. All
            complaints will be reviewed and investigated and will result in a response appropriate to the circumstances.
            By sending information to the general reporting line, your report will go to any or all of the Hyperspace
            representatives listed below.

        </p>
        <!--give us a link to your github repos and resume-->
        <div class="text--center">
            <a href="mailto:hello@hyperspace.africa" class="mail">General Helpline &nbsp; &nbsp;</a>
            <a href="mailto:tene@hyperspace.africa" class="mail">Frank &nbsp; &nbsp;</a>
        </div>
    </div>
</div>

{{> footer_main}}

