<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    {{> navbar}}

    <!-- Info and subscription
            ============================================= -->
    <section id="featured4" class="featured featured-4 featured-left pt-110 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="row">
                        <!-- Feature Card #1 -->
                        <div class="col-sm-12 col-md-10 col-lg-10 wow fadeInUp" data-wow-delay="100ms">
                            <div class="feature-card">
                                <div class="feature-card-content">

                                    <h2 class="l_stuff">Learn on the Go and Build Actual Stuff !</h2>
                                    <p class="l_stuff_desc">
                                        Hyperspace, helping you validate your skills and learning process through
                                        Hackathons
                                    </p>
                                    <button class="l_btn" href="#hiw">Learn More
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .row end -->
                </div>
                <!-- .col-lg-8 end -->

            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #Info and subscription end -->
</div>

<section id="hiw" class="hiw">
    <div>
        <h2>How it Works</h2>
    </div>
    <div class="hiw_container">
        <div><img src="assets/images/africa.png"></div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Nunc mattis enim ut tellus. Facilisis gravida neque convallis a cras semper
                auctor. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Turpis massa tincidunt dui
                ut ornare.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Fusce ut placerat orci nulla.
            </p>
        </div>
    </div>
</section>

<!-- tracklist beigns -->
<section class="tracklist" id="tracklist">
    <div class="text--center mb-40">
        <h4 class="section-2h">Tracklist</h4>
    </div>
    <div class="col-md-12 col-offset-md-2 text--center">
        <p class="tracklist-subheader"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Fusce ut placerat orci nulla.</p>
    </div>

    <!-- Tracklist Subcontent -->
    <div class="tracklist-subcontent">
        <!-- Box1 -->
        <div class="box1 box">
            <div class="box-content">
                <div class="t_title">
                    <h4>Learnable</h4>
                </div>
                <div><img src="assets/images/creative-thinking.png"></div>
            </div>
            <div class="inner">
                <p> 
                    These developers get to apply a three (3) month program and would be paired up in groups and mentors assign. Here they
                    would learn about team building and collaboration and in time get paid while contributing to open source projects.
                </p>
            </div>
        </div>
        <!-- Box 1 Ends -->

        <!-- Box-2 -->
        <div class="box2 box">
            <div class="box-content">
                <div class="t_title">
                    <h4>Open Source</h4>
                </div>
                <div><img src="assets/images/though-processing.png"></div>
            </div>
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Nunc mattis enim ut tellus. Facilisis gravida neque convallis a
                    cras semper auctor. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Turpis
                    massa tincidunt dui ut ornare</p>
            </div>
        </div>
        <!-- Box-2 End  -->

        <div class="box3 box">
            <div class="box-content">
                <div class="t_title">
                    <h4>Hackathons</h4>
                </div>
                <div><img src="assets/images/be-the-change.png"></div>
            </div>
            <div class="inner">
                <p> 
                    This is poised at changing the notion of Hackathons in the African context. In the course, of these Hackathons, technological solutions would be built to solve actual problems being faced in their immediate environment and the world
                    at large.
                </p>
            </div>
        </div>

        <div class="box4 box">
            <div class="box-content">
                <div class="t_title">
                    <h4>Mentors</h4>
                </div>
                <div><img src="assets/images/Uplift.png"></div>
            </div>
            <div class="inner">
                <p> 

                </p>
            </div>
        </div>

    </div>
</section>
<!-- End of Tracklist -->


<section id="schedule" class="schedule">
    <div class="text--center mb-40">
        <h4 class="section-2h">Schedule</h4>
    </div>

    <div class="schedule-content">
        <div>
            <img src="assets/images/line-break concept.png">
        </div>
        <div>
            <ul>
                <li class="l_inner" style="margin-top: 16px;">Registrations begin</li>
                <li class="l_outer">Team selections announced</li>
                <li class="l_inner l_inner_i" style="line-height: 32px; margin-top: 16px;">Introductions and
                    Onboarding process for teams</li>
                <li class="l_inner l_inner_v" style="line-height: 32px;margin-top: 27px;">Virtual workshops and
                    Talks sessions for Teams prep and knowlegde sharing for newbies</li>
                <li class="l_inner" style=" margin-top: -10px; "><b>JumpStart 48</b> kicks off</li>
                <li class="l_outer">Submissions roll in and Demos go live</li>
                <li class="l_inner" style=" margin-top: -28px; ">Voting and Awards</li>
                <li class="l_inner" id="l_inner_r" style="margin-top: -28px;">Rinse and Repeat in &nbsp;
                    <div id="clockdiv">
                        <div>
                            <p class="days clock_d" id="day"></p>
                            <p class="smalltext">Days</p>
                        </div>
                        <div>
                            <p class="hours clock_d" id="hour"></p>
                            <p class="smalltext">Hours</p>
                        </div>
                        <div>
                            <p class="minutes clock_d" id="minute"></p>
                            <p class="smalltext">Minutes</p>
                        </div>
                        <div>
                            <p class="seconds clock_d" id="second"></p>
                            <p class="smalltext">Seconds</p>
                        </div>
                    </div>

                    <p id="demo"></p>
                    <i class="countDownDate" id="demo" style="color: #076f5c, "></i>
                </li>
            </ul>
        </div>

    </div>


</section>

<section class="volunteer">
    <div class="volunteer_content">
        <div class="volunteer_content_sub">
            <div>
                <h4>All hands on deck</h4>
            </div>
            <div>
                <p>It takes a lot to steer a ship, and so is getting an online hackathon to run seamlessly. We need
                    volunteer, mentors and speakers to make this happen.</p>
            </div>
            <div><button class="v_btn" onclick="location.href='./volunteer';">Sign up to volunteer</button></div>
        </div>
        <div><img src="assets/images/volunteer-image.png"></div>
    </div>
</section>


<!-- <section class="partners">
    
</section>
 -->
{{> footer}}

    <div id="back-to-top" class="backtop"><i class="fa fa-long-arrow-up"></i></div>
    </div><!-- #wrapper end -->