<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
    ============================================= -->
{{> navbar_main}}

<section class="container reg">
    <div class="card">
        <div class="card-header reg-card-header">
            <h6 class="reg-title">Volunteer Registration</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Full Name <span class="required">*</span></label>
                        <input type="text" class="form-control" id="name" placeholder="John Doe" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email address <span class="required">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" required
                            aria-required="true" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="location">Location</label>
                        </div>
                        <select class="custom-select" name="location" id="location" required>
                            <option value="NG">Nigeria</option>
                            <option value="GH">Ghana</option>
                            <option value="RW">Rwanda</option>
                            <option value="KN">Kenya</option>
                            <option value="SA">South Africa</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="track">Track</label>
                        </div>
                        <select class="custom-select " name="role" id="role" required>
                            <option value="SM">
                                Social Media Manager/Communications Lead
                            </option>
                            <option value="PMO">Program Manager (Open Source)</option>
                            <option value="PMH">Program Manager (Hackathon)</option>
                            <option value="PMM">Program Manager (Mentoring Team)</option>
                            <option value="PML">Program Manager (Learnable)</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="github">Github Profile</label>
                        <input type="url" class="form-control" id="github" placeholder="https//github.com/john-doe" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="info">How Did You Get to Know About Us?</label>
                        <select class="custom-select " name="info" id="info" required>
                            <option value="I_SM">
                                Social Media
                            </option>
                            <option value="FND">A Friend</option>
                            <option value="BP">Blog Post</option>
                            <option value="COL">A Colleague</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="float-right s_btn btn--primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<footer>
    <!-- Copyrights
    ============================================= -->
    <div class="footer--bar ftr">
        <div class="row">
            <div class="col-12 col-md-12 col-md-12 text--center footer--copyright">
                <div class="copyright">
                    <a href="https://www.hyperspace.africa">hyperspace</a> <br />
                    <span>© 2021</span>
                </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .footer-copyright end -->
</footer>