<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    {{> navbar_main}}
    <!-- Page Title #1
============================================= -->
     <section class="success-section">
          <center >
            <h2 style="color:#0fad00">Success</h2>    
            <div class="col-lg-6  bg-success-image"></div>      
            <div class=" text-center pt-3">
                <p class="success-message">You have Successfully Sign Up.We have sent you an email "johndoe@gmail.com" with your details
                  Please go to your above email now and login.</p>
                <a href="/" class="btn btn-success s-btn">     Home      </a>
            </div>
          </center>
    </section>
