<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
    ============================================= -->
<header id="navbar-spy" class="header header-1 header-light">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light navbar-bordered">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img class="logo logo-light" src="assets/images/logo/logo-w-text.png" alt="Hyperspace Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <!-- Home Menu-->
                    <li class="active">
                        <a href="#" class="menu-item">Home</a>
                    </li>
                    <!-- li end -->

                    <!-- Resources Menu-->
                    <li class="">
                        <a href="./resources" class="menu-item">Resources</a>
                    </li>
                    <!-- li end -->

                    <!-- About Menu-->
                    <li class="">
                        <a href="./about.html" class="menu-item">About</a>
                    </li>
                    <!-- li end -->

                    <!-- FAQs Menu-->
                    <li class="">
                        <a href="./faq.html" class="menu-item">FAQs</a>
                    </li>
                    <!-- li end -->
                </ul>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>
    </nav>
</header>

<section class="container">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="name" placeholder="John Doe" />
                    </div>
                    <div class="form-group col-6">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="location">Location</label>
                        </div>
                        <select class="custom-select" name="location" id="location" required>
                            <option value="NG">Nigeria</option>
                            <option value="GH">Ghana</option>
                            <option value="RW">Rwanda</option>
                            <option value="KN">Kenya</option>
                            <option value="SA">South Africa</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="role">Role</label>
                        </div>
                        <select class="custom-select " name="role" id="role" required>
                            <option value="SM">
                                Social Media Manager/Communications Lead
                            </option>
                            <option value="PMO">Program Manager (Open Source)</option>
                            <option value="PMH">Program Manager (Hackathon)</option>
                            <option value="PMM">Program Manager (Mentoring Team)</option>
                            <option value="PML">Program Manager (Learnable)</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<footer>
    <!-- Copyrights
    ============================================= -->
    <div class="footer--bar ftr">
        <div class="row">
            <div class="col-12 col-md-12 col-md-12 text--center footer--copyright">
                <div class="copyright">
                    <a href="https://www.hyperspace.africa">hyperspace</a> <br />
                    <span>© 2020</span>
                </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .footer-copyright end -->
</footer>